<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Login</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <main>
      <h1 class="title">Gerenciar</h1>
      <p class="sub-title">Seja bem vindo. Faça seu login!</p>
      <a href="/oauth2/authorization/google" class="btn">
        <img src="img/google.png" alt="Logo Google" class="logo-google"/>
        Entrar com Google
      </a>
    </main>
  </body>
</html>
