@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --btn-secondary: #E4E7EB;
  --primary-color: #299D91;
  --color-sub-title: #191D23;

  --title-size: 3rem;
  --subtile-size: 1.25rem;
  --btn-text-size: 1.25rem;
  --btn-width: 100%;
  --btn-height: 3.5rem;
  --logo-google-width: 1.5rem;
  --logo-google-height: 1.5rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 1rem;
  background-color: #f9f9f9;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 50%;
  padding: 1rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.title {
  color: var(--primary-color);
  font-size: var(--title-size);
  text-align: center;
}

.sub-title {
  color: var(--color-sub-title);
  font-size: var(--subtile-size);
  text-align: center;
  margin-bottom: 2rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--btn-secondary);
  color: var(--color-sub-title);
  text-decoration: none;
  font-size: var(--btn-text-size);
  font-weight: 500;
  width: var(--btn-width);
  height: var(--btn-height);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.btn:hover {
  background-color: #d9dcdf;
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn:active {
  transform: scale(0.98);
  opacity: 0.8;
}

.logo-google {
  width: var(--logo-google-width);
  height: var(--logo-google-height);
}


/* Para telas maiores que 740px (Desktop) */
@media screen and (min-width: 741px) {
  :root {
    --title-size: 3rem;
    --subtile-size: 1.5rem;
    --btn-text-size: 1.25rem;
    --btn-width: 400px;
    --btn-height: 3.5rem;
  }

  main {
    width: 30%;
    height: 50%;
  }
}

