:root {
    --btn-secondary: #E4E7EB;
    --primary-color: #299D91;
    --background-color: #E8E8E8;
    --color-sub-title: #191D23;

    --header-background-color: #191919;
    --header-text-color: #FFFFFF;
  
    --title-size: 3rem;
    --subtile-size: 1.25rem;

    --btn-text-size: 1.25rem;
    --btn-width: 100%;
    --btn-height: 3.5rem;

    --logo-google-width: 1.5rem;
    --logo-google-height: 1.5rem;

    --separator-color: #FFFFFF;
  }